* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Antet */
.antet {
    background: rgba(111, 66, 208, 0.9);
    padding: 1rem;
    position: fixed;
    width: 100%; 
    top: 0;
    z-index: 1000; 
}

.meniu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.meniu a {
    color: rgb(229, 203, 214);
    text-decoration: none;
}

.meniu a:hover {
    color: #FFC0CB;
}


.sectiune {
    padding: 4rem 1rem;
    margin-top: 3rem;
}

/*  Despre */
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    padding: 1rem;
    align-items: center;
}

.container img {
    width: 50%; 
    max-width: 600px;
    height: auto;
}

.text {
    flex: 1;
    padding: 30px;
    background: rgba(255,255,255,0.95);
}

.text h2 {
    color: #6f42d0;
    margin-bottom: 20px;
    font-size: 2rem;
}

.text p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #444;
}

@media (max-width: 700px) {
    .container {
        flex-direction: column;
    }
    .container img {
        max-width: 100%;
    }
}

/* Meniu */
.grid-meniu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.item {
    border: 1px solid #090202;
    padding: 1rem;
}

/* Formular */
.formular {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
}

input, textarea {
    padding: 0.8rem;
    border: 1px solid #ddd;
}

button {
    background: #333;
    color: white;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
}

/* Footer */
.subsol {
    background: #333;
    color: white;
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
}

.retele {
    margin-top: 1rem;
}

.retele a {
    color: white;
    margin: 0 1rem;
}